<section class="section press">
    <div class="container text-center">
        <h2 class="title">Press Coverage</h2>
        <ul class="press-list list-inline row">
            <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/img/press/press-1.png" alt="" /></a></li>
            <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/img/press/press-2.png" alt="" /></a></li>
            <li class="col-md-2 col-sm-2 col-xs-4 xs-break"><a href="#"><img class="img-responsive" src="assets/img/press/press-3.png" alt="" /></a></li>
            <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/img/press/press-4.png" alt="" /></a></li>
            <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/img/press/press-5.png" alt="" /></a></li>
            <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/img/press/press-6.png" alt="" /></a></li>
        </ul><!--//press-list-->
        <ul class="press-list list-inline row last">
            <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/img/press/press-7.png" alt="" /></a></li>
            <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/img/press/press-8.png" alt="" /></a></li>
            <li class="col-md-2 col-sm-2 col-xs-4 xs-break"><a href="#"><img class="img-responsive" src="assets/img/press/press-9.png" alt="" /></a></li>
            <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/img/press/press-10.png" alt="" /></a></li>
            <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/img/press/press-11.png" alt="" /></a></li>
            <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/img/press/press-12.png" alt="" /></a></li>
        </ul><!--//press-list-->

        <div class="press-lead text-center">
             <h3 class="title">Have press inquires?</h3>
             <p class="press-links"><a href="#">Download our press kit</a> or <a href="contact.html">Get in touch</a></p>
        </div>

    </div><!--//container-->
</section>
