<section class="section testimonials">
    <div class="container">
        <h2 class="title text-center">Meet the team behind TestLegends</h2>
        <div id="testimonials-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#testimonials-carousel" data-slide-to="1"></li>
                <li data-target="#testimonials-carousel" data-slide-to="2"></li>
            </ol><!--//carousel-indicators-->
            <div class="carousel-inner">
                <div class="item active">
                    <figure class="profile"><img src="/app/assets/img/people/profile-m-1.png" alt="" /></figure>
                    <div class="content">
                        <blockquote>
                        <i class="fa fa-quote-left"></i>
                        <p>We love talking to our users. Learning how you teach is one of the most awesome things we do everyday. Please don't hesitate to send us a message. (alex@testlegends.com)</p>
                        </blockquote>
                        <p class="source">Alexander Chen<br /><span class="title">CEO, TestLegends</span></p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item">
                    <figure class="profile"><img src="/app/assets/img/people/profile-m-2.png" alt="" /></figure>
                    <div class="content">
                        <blockquote>
                        <i class="fa fa-quote-left"></i>
                        <p>We are very talented engineers. We want to understand the challenges teachers face and improve it with the latest technology. (Jeff@testlegends.com)</p>
                        </blockquote>
                        <p class="source">Jeff Lee<br /><span class="title">CTO, TestLegends</span></p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item">
                    <figure class="profile"><img src="/app/assets/img/people/profile-m-3.png" alt="" /></figure>
                    <div class="content">
                        <blockquote>
                        <i class="fa fa-quote-left"></i>
                        <p>Our mission is to make studying fun by integrating cool video games features into different parts of education. (hubert@testlegends.com)</p>
                        </blockquote>
                        <p class="source">Hubert Ka<br /><span class="title">CPO, TestLegends</span></p>
                    </div><!--//content-->
                </div><!--//item-->
            </div><!--//carousel-inner-->
        </div><!--//carousel-->
    </div><!--//container-->
</section>
