<section class="promo section section-on-bg">
    <div class="container text-center">
        <h2 class="title">We believe learning should be fun!</h2>
        <!-- <h2 class="title">We make homework more engaging </br> for students to learn!</h2> -->
        <p class="intro">TestLegends is a game based quiz creation platform for K-12 teachers.</p>
        <p><a class="btn btn-cta btn-cta-primary" href="signup.html">Try TestLegends Free</a></p>
        <button type="button" class="play-trigger btn-link " data-toggle="modal" data-target="#modal-video"><i class="fa fa-youtube-play"></i> Watch the video</button>
    </div>
</section>
