<section id="why" class="section why">
  <div class="container">
      <h2 class="title text-center">How Can TestLegends Help You?</h2>
      <p class="intro text-center">We take care of the boring part of teaching, so you can focus on the fun part</p>
      <div class="row item">
          <div class="content col-md-4 col-sm-12 col-xs-12">
              <h3 class="title">Create quizes in seconds</h3>
              <div class="desc">
                  <p>Import your favorite study sets from Quizlet with only a few clicks. With more than 30 million study sets available, you can find useful content for your course in seconds.</p>
                  <p>Want to create your own content? We got you covered. Sign up right now and try out quiz awesome quiz creation tool!</p>
              </div>
              <div class="quote">
                  <div class="quote-profile">
                      <img class="img-responsive img-circle" src="/app/assets/img/people/profile-s-1.png" alt="" />
                  </div><!--//profile-->
                  <div class="quote-content">
                      Love it! Thank you for making my life easier and saving me time! I’ll definitely recommend it to my friends. :)</p></blockquote>
                      <p class="source">@spanishchicago, Chicago</p>
                  </div><!--//quote-content-->
              </div><!--//quote-->
          </div><!--//content-->
          <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
              <img class="img-responsive" src="/app/assets/img/figures/figure-1.png" alt="" />
          </figure>
      </div><!--//item-->

      <div class="row item">
          <div class="content col-md-4 col-sm-12 col-xs-12 col-md-push-8 col-sm-push-0 col-xs-push-0">
              <h3 class="title">Gamification is the future of teaching!</h3>
              <div class="desc">
                  <p>"If only studying can just be like video games", this are the words from students around the world.</p>
                  <p>Now you can make this dream come true for your students. It will make you the happiest teacher on earth.</p>
              </div>

              <div class="quote">
                  <div class="quote-profile">
                      <img class="img-responsive img-circle" src="/app/assets/img/people/profile-s-2.png" alt="" />
                  </div><!--//profile-->
                  <div class="quote-content">
                      <blockquote><p><a href="https://twitter.com/3rdwave_themes" target="_blank">@testlegendsapp</a> I can see huge potential in this app. We run a one on one iPad school and we really like it.</p></blockquote>
                      <p class="source">@el_profe_007, Dubai</p>
                  </div><!--//quote-content-->
              </div><!--//quote-->
          </div><!--//content-->
          <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
              <img class="img-responsive" src="/app/assets/img/figures/figure-2.png" alt="" />
              <div class="control text-center" style='margin-left:-4%;'>
                  <button type="button" class="play-trigger" data-toggle="modal" data-target="#modal-video"><i class="fa fa-play"></i></button>
              </div><!--//control-->
          </figure>
      </div><!--//item-->

      <div class="row item last-item">
          <div class="content col-md-4 col-sm-12 col-xs-12">
              <h3 class="title">No more grading and data entry</h3>
              <div class="desc">
                  <p>Grading students work can take up a lot of your time. With automatic performance report, you can say goodbye to data entry!</p>
                  <p>You can use the time you save to do other awesome stuff!</p>
              </div>
              <div class="quote">
                  <div class="quote-profile">
                      <img class="img-responsive img-circle" src="/app/assets/img/people/profile-s-3.png" alt="" />
                  </div><!--//profile-->
                  <div class="quote-content">
                      <blockquote><p>Nice template! It’s practical and there is no gimmicks. Very easy to customise as well!</p></blockquote>
                      <p class="source"><a href="#">@AlexD</a>, London</p>
                  </div><!--//quote-content-->
              </div><!--//quote-->
          </div><!--//content-->
          <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
              <img class="img-responsive" src="/app/assets/img/figures/figure-3.png" alt="" />
          </figure>
      </div><!--//item-->
  </div><!--//container-->
</section>
